@font-face {
	font-family: fontTitle;
	src: url(./fonts/coventrygarden.regular-webfont.woff2) format("woff2"),
		url(./fonts/coventrygarden.regular-webfont.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}
html,
body,
#game,
#bgForColor {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: darkgrey;
}
#bgForColor {
	min-height: calc(100% - 15px);
	width: 100%;
	transition-duration: 0.125s;
	padding-top: 15px;
}
.mineButton,
#victoryStatus,
#remainingFlagsSymbol,
.difficultyButton,
#soundButton {
	text-shadow: -1px 1px 0px black, 1px 1px 0px black, 1px -1px 0px black,
		-1px -1px 0px black;
}
.displayTitle {
	font-family: fontTitle;
	color: white;
	text-shadow: -1px 1px 1px black, 1px 1px 1px black, 1px -1px 1px black,
		-1px -1px 1px black;
}
#displayTitleDesktop {
	font-size: 24pt;
	margin-bottom: 15px;
}
#displayTitleMobile {
	font-size: 24px;
}
* {
	vertical-align: middle;
	font-family: arial;
}
button {
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 12pt;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	transition-duration: 0.125s;
	position: relative;
}
button:active {
	border-width: 6px;
	font-size: 10px;
}
button > div,
.front,
.back,
#gameContainer {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.back {
	opacity: 75%;
}
#gameHeader,
#gameFooter {
	display: grid;
}
#soundButton {
	font-size: 7pt;
}
#help {
	font-size: 12pt;
	color: white;
	text-shadow: -1px 1px 0px black, 1px 1px 0px black, 1px -1px 0px black,
		-1px -1px 0px black;
}
#soundButton:active {
	font-size: 4pt;
}
#help:active {
	font-size: 8pt;
}
#difficulty {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
}
#remainingFlags {
	text-align: center;
}
#remainingFlagsCount {
	font-size: 12pt;
	font-weight: bold;
	color: white;
	text-shadow: -1px 1px 0px black, 1px 1px 0px black, 1px -1px 0px black,
		-1px -1px 0px black;
	/*letter-spacing: 1.5px;*/
}
#victoryStatus {
	text-align: center;
}
#mines {
	display: grid;
}
.mirrored {
	display: inline-block;
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}
#githubLogo,
#soundcloudLogo {
	max-width: 100%;
	max-height: 100%;
	filter: drop-shadow(1px 1px 2px black);
}
#helpText {
	margin: 2px;
	padding: 0.1in;
	border-radius: 10px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: none;
	opacity: 0;
	transition-duration: 0.125s;
}
h1,
h2,
p,
ul {
	color: white;
	text-shadow: -1px 1px 1px black, 1px 1px 1px black, 1px -1px 1px black,
		-1px -1px 1px black;
}
h1,
h2 {
	margin-top: 0px;
	margin-bottom: 6px;
	font-weight: normal;
	font-family: fontTitle;
}
h2 {
	font-size: 15pt;
}
p,
ul {
	margin-top: 0px;
	margin-bottom: 16px;
}
p {
	text-align: center;
}
ul {
	text-align: left;
}
li {
	margin-bottom: 2px;
}
a {
	color: white;
}
#copyright {
	text-shadow: none;
	font-weight: bold;
	margin-top: 0.5in;
}
#soundSymbol {
	opacity: 0.5;
}
