@font-face {
	/* Use for title //TEMP */
	font-family: farmhouseRecipe;
	src: url(fonts/FARMHOUSE_RECIPE.otf);
}
@font-face {
	font-family: potatoFarmer;
	src: url(fonts/Potato_Farmer.ttf);
}
#displayTitle {
	font-family: farmhouseRecipe;
}
* {
	vertical-align: middle;
	font-family: potatoFarmer;
}
button {
	width: 100%;
	height: 100%;
}
button:disabled {
	background-color: lightgrey;
}
#gameHeader {
	display: grid;
}
#difficulty {
	width: 3in;
	display: grid;
	grid-auto-flow: column;
}
#remainingFlags,
#victoryStatus {
	text-align: center;
}
#mines {
	display: grid;
}
/*
body,
button {
	background-color: black;
}
* {
	color: darkgrey;
}
*/
